

.footer{
  background-color: rgb(53, 52, 52);
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color: white
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: rgb(204, 134, 112) ;
  color:floralwhite;
}

address{
  font-size:80%;
  margin:0px;
  color:#faf9f9;
}

.navbar-dark {
  background-color: rgb(47, 44, 53);
}


